/ArrayEqual.class
/ReverseArray.class
/PrimeNumbers.class
/SeqSearchSen.class
/ArraysBinarySearch.class
/BinSearch.class
/CardConCRev.class
/binSearchIfSame.class
/Factorial.class
/Hanoi.class
/fibo.class
/EuclidMethod.class
/Power.class
/recursiveSum.class
/recursiveFindingMax.class
/BubbleSort.class
/BubbleSort_2.class
/BubbleSort_3.class
/MazeCountingShortWay.class
/Node.class
/permutation.class
/NextPermutation.class
/BinTree.class
/BinTree$Node.class
/BinTree$Tree.class
